/*Main page layout*/
div {
  padding-left: 12%;
  padding-right: 12%;
}

/*Bg img styling*/
.bg_img {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
}
#main {
  height: 50vh;
  position: relative;
}

/*Button styling*/
button[type="button"] {
  position: absolute;
  bottom: 0;
}

/*Footer styling*/
.foot {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
